trigger:
  branches:
    include:
      - main
  paths:
    include:
      - cmd/*
      - internal/*
      - pkg/*
      - go.mod
      - go.sum
      - Dockerfile
      - deploy/*

pr: none

resources:
  - repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: "wayruprod-registry-2"
  imageRepository: "gateway"
  containerRegistry: "wayruprod.azurecr.io"
  dockerfilePath: "Dockerfile"
  tag: "$(Build.BuildId)"
  kubernetesServiceConnection: "network-services-kubernetes-prod"
  kubernetesClusterNamespace: "network-services"
  environment: "network-services-prod"
  helmChartPath: "$(Build.SourcesDirectory)/deploy/chart"
  helmReleaseName: "gateway"

  # Agent VM image name
  vmImageName: "ubuntu-latest"

stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
      - job: Build
        displayName: Build and Push
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: DownloadSecureFile@1
            name: sshKey
            displayName: "Download SSH Key"
            inputs:
              secureFile: "github_ssh_key"

          - script: |
              mkdir -p .ssh
              cp $(sshKey.secureFilePath) .ssh/id_rsa
              chmod 600 .ssh/id_rsa
            displayName: "Setup SSH Key"

          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              buildContext: "$(Build.SourcesDirectory)"
              tags: |
                $(tag)
                latest

          - task: PublishPipelineArtifact@1
            displayName: "Publish Helm Chart"
            inputs:
              targetPath: $(helmChartPath)
              artifact: "chart"
              publishLocation: "pipeline"

  - stage: Deploy
    displayName: Deploy to Kubernetes
    dependsOn: Build
    jobs:
      - deployment: Deploy
        displayName: Deploy with Helm
        pool:
          vmImage: $(vmImageName)
        environment: $(environment)
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadPipelineArtifact@2
                  displayName: "Download Helm Chart"
                  inputs:
                    artifactName: "chart"
                    targetPath: "$(Pipeline.Workspace)/chart"

                - task: HelmDeploy@0
                  displayName: "Deploy Gateway with Helm"
                  inputs:
                    connectionType: "Kubernetes Service Connection"
                    kubernetesServiceConnection: $(kubernetesServiceConnection)
                    namespace: $(kubernetesClusterNamespace)
                    command: "upgrade"
                    chartType: "FilePath"
                    chartPath: $(Pipeline.Workspace)/chart
                    releaseName: $(helmReleaseName)
                    install: true
                    waitForExecution: true
                    arguments: "--timeout 5m0s"
                    valueFile: "$(Pipeline.Workspace)/chart/values-prod.yaml"
                    overrideValues: |
                      imageTag=$(tag)

                - task: Kubernetes@1
                  displayName: "Validate Deployment"
                  inputs:
                    connectionType: "Kubernetes Service Connection"
                    kubernetesServiceEndpoint: $(kubernetesServiceConnection)
                    namespace: $(kubernetesClusterNamespace)
                    command: "get"
                    arguments: "pods,svc -l app=$(helmReleaseName) -o wide"

                - task: Kubernetes@1
                  displayName: "Check Deployment Status"
                  inputs:
                    connectionType: "Kubernetes Service Connection"
                    kubernetesServiceEndpoint: $(kubernetesServiceConnection)
                    namespace: $(kubernetesClusterNamespace)
                    command: "rollout"
                    arguments: "status deployment/$(helmReleaseName) --timeout=120s"
